@use '../../../scss/utils/' as *;
.weather{
    display: flex;

    &__container{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
        border-radius: 20px;
        margin: auto;

        & h2 {
            text-align: center;
        }

        &__areas {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            & div {
                background-color: var(--main-bg);
                border-radius: 20px;
                color: var(--txt-color);
                font-size: 0.825rem;
                padding: 0.5rem 0.8rem;
                cursor: pointer;
                &:hover {
                    color: var(--main-color);
                }
            }
        }
        &__area {
            text-align: center;
            color: var(--main-color);
            font-weight: bold;
        }

        &__date{
            font-size: 0.825em;
            text-align: center;
            font-weight: bold;
            color: var(--main-color);
        }

        &__state{
            display: flex;
            gap: 1rem;
            align-items: center;
            
            &__temp {
                border-radius: 10px;
                border: solid 1px rgba(184, 180, 180, 0.644);
                background-color: rgba(156, 156, 156, 0.288);
                padding: 2rem;
            }

            &__cloud {
                margin: auto;
                font-size: 2rem;
                font-weight: bold;
            }
        }
        
        &__pre {
            display: flex;
            gap: 1rem; 
            flex-flow:wrap ;
            text-align: center;

            &__day {
                display: flex;
                flex-direction: column;
            }
        }

    }
}