.project-swiper__img {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &__box h1, .swiper {
        margin-bottom: 1rem;
        color: var(--main-color);
    }

    .pageNav {
        text-align: end;
        font-size: 2rem;
        font-weight: bold;
        padding-right: 1rem;
        color: var(--main-color);
    }
}


//Swiper custom
.project-images-slider {
    .swiper-slide {
        padding-top: 100%;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 15px;
            filter: brightness(0.8);
        }
    }
    &-thumbs{
        height: min-content;
    
        .swiper-slide{
            height: auto !important;
            
        }
        .product-images-slider-thumbs-wrapper{
            img{
                width: 100%;
                filter: brightness(0.8);
        }
    }
    }
}
.swiper-slide-thumb-active{
    div > img{
        border: solid 3px var(--main-color);
    }
}

// description
.ProjectDescription{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        
        &__intro{
            p {
                font-size: 0.825rem;
                margin-top: 1rem;
                line-height: 23px;
            }
        }

        &__skills{
            h3 {
                margin-bottom: 1rem;
            }
    
            div {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                
                & > span {
                    background-color: var(--main-bg);
                    border-radius:20px;
                    color: var(--txt-color);
                    padding: 0.3rem 0.5rem;
                    font-size: 0.825rem;
                }
            } 
        } 

        &__fuc {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            div > h4 {
                font-size: 0.9rem;
                margin-bottom: 10px;

                & > i {
                    margin-right: 5px;
                }
            }
            div > p {
                font-size: 0.825rem;
                line-height: 20px;
            }   
        }

        &__links {
            display: flex;
            justify-content: end;

            & a:first-child {
                margin-right: 3rem;

            }
            & a:hover {
                color: var(--main-color);
            }
        }
    }
}
