.profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;

    &__info {
        display: flex;
        // width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        &__image {
            overflow: hidden;
            height: 15rem;
            border-radius: 50rem;

            img {
                height: 15rem;
                width: 15rem;
                object-fit: cover;
                transition: 0.5s ease-in-out;
                }
                &:hover {
                    img {
                    transform: scale(1.1);
                    }
                }
        }

        &__des {
            &__link {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;
                align-items: center;
                position: relative;

                & a:nth-child(1):after {
                    position: absolute;
                    content: 'Github';
                    width: fit-content;
                    top: 50%;
                    transform: translateY(-50%);
                    display: none;
                    padding-left: 0.5rem;
                }
                & a:nth-child(1):hover::after{
                    display: inline-block;
                }
                & a:nth-child(2):after {
                    position: absolute;
                    content: 'TIL';
                    width: fit-content;
                    top: 50%;
                    transform: translateY(-50%);
                    display: none;
                    padding-left: 0.5rem;
                }
                & a:nth-child(2):hover::after{
                    display: inline-block;
                }  
            }
            i {
                font-size: 2rem;
                color: var(--txt-color);
                &:hover{
                    color:var(--main-color)
                }
            }
        }
    }

    &__character {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1rem;
        font-style: italic;
    }
}

