@use '../../scss/utils/' as *;
@use '../../scss/theme' as *;

.main__layout {
    position: relative;
    width:100vw;
    background-color: var(--main-bg);
    color: var(--txt-color);

    &__content{
        margin-left: 16.66%;//nav 제외
        padding: 1rem;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;

        @include tablet{
            margin-left: 0;
        }
        }
}
// aboutme
.about__me{
    width: 100%;
    .grid {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1rem;
        margin-top: 2rem;
        .row__one {
            display: flex;
            height: 50%;
            gap: 1rem;

            @include mobile{
                flex-wrap: wrap;
            }
        }
        .row__two {
            display: flex;
            gap: 1rem;
            height: 50%;

            @include tablet {
                flex-wrap: wrap;
            }
        }
    }
}

// project
.portfolio-conatainer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

//mini-project
.mini{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &__input form {
        display: flex;
        align-items: center;
        position: relative;

        & > i {
            font-size: 2rem;
            position: absolute;
            right: 5px;
            color: rgba(163, 163, 163, 0.514);
            cursor: pointer;
        }
    }
}

// contact
.contact{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;

    &__header {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 2rem;
        // color: rgb(150, 150, 150);
        color: var(--main-color);

        & h1 {
            font-size: 5rem;
            font-family: 'Bebas Neue', cursive;
            letter-spacing: 0.5rem;
        }
    }
    
    &__info{
        display: flex;
        flex-wrap: wrap;

        @include tablet{
            gap: 2rem;
        }
        
        &__left{
            border-right: solid 2px rgba(136, 136, 136, 0.488);
    
            @include tablet {
                border: none;
            }
        }
    }
}