.modal {
	position: fixed;
	display: flex;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.7);
	transition: all 0.7s;
	opacity: 0;
	z-index: -1;

	&.on {
		z-index: 7;
		opacity: 1;
	}
	&.off {
		animation: 0.7s ease-in 0s 1 normal both running popupFadeOut;
	}

	&__container{
		font-size: 0.825rem;
		padding: 1rem;
		background: #EFEEE9;
		border-radius: 8px;
		color: rgb(28, 27, 27);

		&__contents {
			line-height: 1.6;

			&__intro {
				margin-bottom: 1.5rem;

				&:nth-child(1){
					font-weight: bold;
				}

				& > div {
					border-top: solid 1px rgba(128, 128, 128, 0.575);
					margin-top: 10px;
				}
			}

			&__list {
				& li {
					margin-bottom: 1rem;
				}
				& li p {
					margin-bottom:10px;
				}

				.linkBtn {
					background-color: #fff;
					padding: 0.3rem;
					border-radius: 5px;
					&:hover{
						background-color: var(--main-color);
					}
				}
			}
			
		}
		.btnBox {
			display: flex;
			margin-bottom: 30px;
			
			.btn {
				display: flex;
				align-items: center;
				margin-top: 3px;
				margin-right: 20px;
				padding: 0.3rem;
				background: #B8D00A;
				color: #000;
				border-radius: 4px;
				font-size: 0.825rem;
				font-weight: bold;
				&:hover {
					background: green;
				}
			}
		}
		.modal__container__check {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px solid rgb(122, 122, 122);
			input[type="checkbox"] {
				margin-left: 10px;
				width: 15px;
				height: 15px;
			}
			label {
				display: flex;
				align-items: center;
				font-size: 0.82rem;
			}
			.close {
				border: none;
				padding: 0.2rem 0.4rem;
				background: #898989;
				color: #fff;
				border-radius: 4px;
				font-size: 0.82rem;
				cursor: pointer;
				&:hover {
					background: var(--main-color);
				}
			}
		}
	}
}


@keyframes modal {
	0% {
		z-index: 7;
		opacity: 1;
	}
	91% {
		opacity: 0;
	}
	100% {
		display: none;
	}
}