.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    & h2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 2rem 0 ;
        color: var(--txt-color);
      }
    
      &__container{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 1em;
    }
}
// card component 
.card{
  // background-color: black;
  border: solid 1px var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transform: rotateY(180deg);
  animation: 2s hideCard linear;
  transition: transform 0.5s;

  & img{
    width: 100%;
    transition: transform 0.5s;
    transform: scale(0);
    animation: 2s hideImage linear;
  }

  &.active{
    transform: rotateY(0);
  }
  &.active img{
    transform: scale(1);
  }
}

  @keyframes hideCard{
    0%, 70%{
      transform: rotateY(0);
    }
    100%{
      transform: rotateY(180deg);
    }
  }
  @keyframes hideImage{
    0%, 70%{
      transform: scale(1);
    }
    100%{
      transform: scale(0);
    }
  }
