.title{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 20px;
}
.intro > p {
    margin-bottom: 20px;
    line-height:1.5rem;
    word-break: keep-all;
}