@use './utils/' as *;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

ul,
li {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
  color:white;
}

input::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}
input:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}
textarea::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}
textarea:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}
input::placeholder {
  font-family: 'Montserrat', sans-serif;
}
textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
}

input:focus, textarea:focus {
  border: solid 1px var(--main-color);
}

.cardstyle {
  padding: 1rem;
  border-radius:1rem ;
  background-color: var(--second-bg);
  color: var(--txt-color);
}

::-webkit-scrollbar {
  background-color: black;
  width: 0.4vw;
}

::-webkit-scrollbar-thumb {
  background: #ffc107;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  right: 0 !important;
}
